.apiElement {
    padding: 5px;
}

code {
    margin-bottom: 5px;
}

.details {
    margin-bottom: 5px;
}

.form-group div{
    padding: 0px;
    margin-right: 5px;
}

.footer {
    margin-top:2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #eee;
}
